* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* BODY */

body {
    max-width: 100rem;
}


/* HEADER */

header {
    min-height: 1vh;
    background-image: url(./images/design1_image2.jpg);
}

header img {
    max-height: 50vh;
    width: 100%;
    background-color: white;

}



h1 {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-size: 2rem;
    text-align: end;
    justify-content: center;
    color: white;

}

nav {
    background-color: lightgreen;
    max-height: 11vh;
}



a:hover {
    background-color: aquamarine;
    color: black;
}

a:active {
    background-color: black;
}

h2 {
    display: inline-block;
    width: 60%;
    font-size: 2rem;
    margin-left: 10%;
    color: white;
    margin-top: 5px;

}


header>p {
    text-align: center;
    margin-right: 45%;
    color: black;
    /*align-content:;*/
}

/* MAIN */

main {
    background-image: url(./images/design1_image2.jpg);
    /* background-color:rgb(28, 141, 175);*/
    min-height: 80vh;
    padding: 1rem;
}

main img {
    display: block;
    width: 8%;
    background-color: white;
    height: 30vh;
}


/* SECTION */

section {
    margin: 1rem;
    gap: 2rem;
}

section:hover {
    background-color: rgb(107, 190, 177);
}




/* ARTICLE*/

article {
    padding-left: 10px;
    padding-bottom: 5%;
}


h4 {
    font-size: 1rem;
    text-align: inherit;
    color: rgb(14, 15, 15);
}

/* LISTAS */

li {
    list-style-position: inside;

}

/* TABLA */

table {
    background-color: aliceblue;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    /* empty-cells: hide; */
    caption-side: bottom;
}

table,
th,
td {
    border: 2px solid;
    border-color: black;
    text-align: center;
}

th {
    background-color: rgb(37, 36, 36);
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* FORM */

form {
    font-weight: bolder;
}

fieldset {
    padding: 0.5%;
}


.space {
    display: block;
}


/**/



/* DIV */
.email {
    display: inline;
}


div {
    display: inline-flex;
    padding-top: 1%;
    padding-left: 1%;
    gap: 3rem;
}

div p {
    color: rgb(27, 18, 21);
}


#correo {
    width: 0;
    height: 0;
    padding-top: 0;
    left: 0%;
    box-shadow: none;
}


/* FOOTER */

footer {
    background-color: black;
    height: 1vh;
    padding: 1.5rem;
}

footer p {
    color: white;
}