*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'sans serif';
}

/* BODY */

body{
    background-color:lightgreen;
    ;
    max-width: 100rem;
}


/* HEADER */

header{
    background-color:rgb(16, 41, 24);
    min-height: 5vh;
    padding: 1rem;
    background-image:url(./images/design1_image2.jpg);
}

header img{
    max-height: 60vh;
    width: 100%;
    background-color: white;
    
}

.logo{
    width: 5%;
    height: 5%;
    background-color: white;
    border-radius: 50%;
    
}

h1{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-size: 2rem;
    text-align: end;
    color: white;
    margin-left: 0;
    
}

nav{
    background-color:lightgreen;
    min-height: 3vh;
    padding: 0.5rem;
    
}

a{
    display:inline-block;
    width: 8rem;
    height: 3rem;
    color: black;
    text-align: center;
    font-weight: bolder;
    box-shadow: 5px 5px rgb(63, 71, 65);
    justify-content: center
}

a:hover{
    background-color:aquamarine;
    color:black;
}

a:active{
    background-color: black;
}

h2{
    display:inline-block;
    width: 60%;
    font-size: 2rem;
    text-align: center;
    margin-left: 10%;
    color: white;
}


header>p{
    text-align: center;
    margin-right: 45%;
    color: white;
    /*align-content:;*/
}

/* MAIN */

main{
    background-image:url(./images/design1_image2.jpg);
   /* background-color:rgb(28, 141, 175);*/
    min-height: 80vh;
    padding: 1rem;
}

main img{
    display: block;
    width: 8%;
    background-color: white;
    border-radius: 50%;
}

/* SECTION */

section{
   /* background-color: rgb(28, 141, 175);*/
    display: block;
    /*box-shadow: 5px 5px rgba(0, 0, 0, 0.358);*/
    margin: 1rem;
    gap: 2rem;
}

section:hover{
    background-color: rgb(107, 190, 177);
}

/* ARTICLE*/

article{
padding-left: 10px;
padding-bottom: 5%;
}


h4{
    font-size: 1rem;
    text-align:inherit;
    color: rgb(14, 15, 15);
}

/* LISTAS */

li{
    list-style-position: inside;

}

/* TABLA */

table {
    background-color: aliceblue;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    /* empty-cells: hide; */
    caption-side: bottom;
}

table, th, td {
    border: 2px solid;
    border-color: black;
    text-align: center;
}

th {
    background-color: rgb(37, 36, 36);
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* FORM */

form{
    font-weight: bolder;
}

fieldset{
    padding: 0.5%;
}


.space{
display: block;
}


/**/



    /* DIV */
.email{
    display: inline;
}


div{
    display: inline-flex;
    padding-top: 1%;
    padding-left: 1%;
    gap: 3rem;
}

div p{
    color: rgb(27, 18, 21);
}


#correo{
    width: 0;
    height: 0;
    padding-top: 0;
    left: 0%;
    box-shadow: none;
    }


    /* FOOTER */ 

footer{
    background-color: black;
    height: 1vh;
    padding: 1.5rem;
}

footer p{
    color: white;
    text-align: center;
}

